In [1]:
import pandas as pd
data = pd.read_csv('C:\\Users\\kuznecov.ap\\Desktop\\piton\\10. Pandas\\данные для домашки\\ml-100k\\u.data', names = ['user_id', 'item_id', 'rating', 'timestamp'], sep = '\t', header=0)
q =data['rating'].max()
data['item_id'][ data.rating == q ].value_counts(normalize=True).head(10)

50     0.015329
100    0.010707
127    0.010094
174    0.009528
56     0.008868
318    0.008773
98     0.008537
313    0.008443
172    0.008113
181    0.008066
Name: item_id, dtype: float64

In [7]:
import pandas as pd
data = pd.read_csv('C:/Users/kuznecov.ap/Desktop/piton/10. Pandas/power.csv')
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ]
filtered_countries_category = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21)]
filtered_countries_category_quantity = filtered_countries_category[ (filtered_countries_category['quantity']>0) ]
filtered_countries_category_quantity_year = filtered_countries_category_quantity[ (filtered_countries_category_quantity['year']>= 2005) & (filtered_countries_category_quantity['year']<= 2010) ]
filtered_countries_category_quantity_year['quantity'].sum()

240580.0

In [3]:
import pandas as pd
page_url = 'https://fortrader.org/quotes'
df = pd.read_html(page_url, encoding='utf-8')[1]
df

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,63.30,-0.02,-0.03,NaN
1,Нефть WTI Цены на нефть WTI,59.59,0.24,0.40,NaN
2,Природный газ Цена на природный газ,2.97,-0.03,-1.10,NaN
3,Кофе,128.60,-0.75,-0.58,NaN
4,Кукуруза,548.00,5.00,0.92,NaN
5,Соя,423.50,-0.60,-0.14,NaN
6,Хлопок,91.47,0.99,1.09,NaN