In [5]:
import pandas as pd
df = pd.read_csv('C:\\Users\\kuznecov.ap\\Desktop\\piton\\11.Pandas\\ml-latest-small\\ratings.csv', sep = ',')
def cinema(row):
    """Классификация фильма по его рейтингу"""
    if row['rating'] > 4:
        return "Высокий рейтинг"
    elif row['rating'] <= 2:
        return "Низкий рейтинг"
    else:
        return "Средний рейтинг"
df['class'] = df.apply(cinema, axis=1)
df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

In [2]:
import pandas as pd
df = pd.read_csv('C:\\Users\\kuznecov.ap\\Desktop\\piton\\11.Pandas\\ml-latest-small\\keywords.csv', sep = ',')
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
def geo(row):
    for v in geo_data.items():
        for v_v in v[1]:
            if v_v in row['keyword']:
                return (v[0])
                return "undefined"
df['region'] = df.apply(geo, axis=1)
# df.head(20)
df.region.value_counts()

Центр             387
Северо-Запад      266
Дальний Восток     94
Name: region, dtype: int64